* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #757575;
  padding: 40px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

p {
  padding: 20px;
  font-size: 35px;

}






/* Classes */

.scoreboard {
  display: flex;
  flex-direction: row;
  gap: 25px;

}


.title {
  text-align: center;
  padding: 15px;

}

.highscores {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
}

#start {
  font-size: 100px;
  text-align: center;
  padding: 100px;
  
}


.ansbox {
  text-align: center;
}

.button {
  width: max-content;
  height: fit-content;
  font-size: large;
  font-weight: bolder;
  margin: 12px;
}



/* IDs */

#startbutton {
  background-color: #20bf55;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  margin: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#startbutton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(11, 79, 108, 0.3);
}


#timer {

  
}

#scores {
  align-items: right;
  max-width:250px;
  font-weight: bold;
  text-align: left;
}

#submit-initials {

}

#finish {


}

  