* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #757575;
  padding: 40px;
}








/* Classes */

.scoreboard {
  display: flex;
  flex-direction: row;
  gap: 25px;

}


.title {
  text-align: center;
  padding: 15px;

}

.highscores {
  display: flex;
  flex-direction: row-reverse;
  height: auto;
}

.start {
  text-align: center;
  padding: 100px;
  
}


.ansbox {
  text-align: center;
}





/* IDs */

#startbutton {
  background-color: #20bf55;
  font-weight: bold;
  padding: 10px;
  margin: 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#startbutton:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(11, 79, 108, 0.2);
}


#timer {

  
}

#scores {
  max-width:250px;
  font-weight: bold;
  text-align: left;
  }